.typing-text{
    font-size: 2rem;
    margin:4rem;
}



.loss-page{
    height:100vh;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}