body {
    font-family: 'Press Start 2P', system-ui;
    font-weight: normal;
    font-style: normal;
}

button {
    font-family: 'Press Start 2P', system-ui;
    font-weight: normal;
    font-style: normal;
}