$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$screen-dark:#346856;
$secondary-font: #272929;
$primary-font: #ffffff;
$header-background: #c4bebb;
$main-background:#494786;
$primary-accent:#9a2257;